body {
    background-color: blanchedalmond;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5f5f5f; /* Set your background color here */
    color: white; /* Set text color */
    padding: 10px;
}

/* Style the logo to align to the left and add spacing */

.logo img{
    width: 100px;
}

.logo {
    display: flex;
    margin-left: 20px; /* Adjust as needed for spacing */
    align-items: center;
}

/* Style the navigation to align to the right and add spacing */
nav {
    flex: 1;
    text-align: right;
    margin-right: 20px; /* Adjust as needed for spacing */
    font-size: large;
}

/* Style the navigation list items to be horizontally displayed */
nav ul {
    list-style: none;
    padding: 0;
}

/* Style the individual list items to display inline and add spacing */
nav ul li {
    display: inline;
    margin-right: 50px; /* Adjust as needed for spacing between items */
}

/* Style the navigation links */
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Style navigation links on hover */
nav ul li a:hover {
    text-decoration: underline;
}

.logo p{
    display: flex;
    text-align: left center;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
}